@CHARSET "UTF-8";

body {
  font-family: Optima, "Trebuchet MS", Lucida, Arial, Geneva, Verdana, "Lucida Grande", Tahoma, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
}

#main {
  margin: 0 auto;
  width: 750px;
	background: url(img/casimir.png) right top no-repeat;
}

h1 {
	font-family: "Hoefler Text", "Bookman Antiqua", Palatino, "Utopia", "Times New Roman", Times, "New Century Schoolbook",  Georgia, "New York", serif;
	font-size: 2.5em;
}

h1 a {
	text-decoration: none;
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
	color: #e33;
}

h1 a:hover {
	text-decoration: underline;
}

dt {
	margin-top: 1em;
}

.error {
  color: red;
}

.success {
  color: green;
}

.center {
	text-align: center;
}

.tablinks {
  list-style: none;
  padding-left: 0;
}

  .tablinks li {
    display: inline;
    padding: 0 1em;
  }

.tabs {
  
}

.tabs div {
  display:none;
}

.tabs div:target {
  display:block;
}


#footer {
	margin: 1em 0;
	border-top: 1px dotted #666;
  border-bottom: 1px dotted #666;
	font-size: 0.8em;
}

#footer .copy {
  float: right;
}

#bookmarklet a {
	padding: 2px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #bbb;
	border-top: solid 2px #ccc;
  border-right: solid 2px #aaa;
  border-bottom: solid 2px #aaa;
  border-left: solid 2px #ccc;
}
