<?php
// MySQL connection
define('MYSQL_HOST', 'localhost');
define('MYSQL_USER', 'root');
define('MYSQL_PASSWORD', '');
define('MYSQL_DATABASE', 'casimir');

// use mod_rewrite?
define('USE_REWRITE', false);

// restrict access?
define('ACCESS_KEY', '');

// verify if the URL exists?
define('GETHEAD', 'yes');

// Get the linked page title?
define('GETTITLE', 'yes');
  
// Default API format ('text' or 'xml')
define('DEFAULT_API_FORMAT', 'text');
?>